@{
    ViewBag.Title = "Home";
}

<p>@Session["test"]</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec lacinia leo. Quisque id justo lacus. Curabitur nec tortor quis velit eleifend lacinia vitae at turpis. Ut consequat egestas metus. Donec vel nibh non justo scelerisque suscipit. Mauris feugiat id magna quis malesuada. Curabitur vitae tortor quis diam elementum hendrerit. Aliquam eget purus dolor. Suspendisse nec diam gravida, fringilla est sit amet, tempor lorem. Nunc id luctus libero. Curabitur consequat magna ac ligula facilisis, porta ultrices eros ultrices.</p>

<p>Fusce ultricies sem sit amet metus sagittis, vel consequat lacus viverra. Suspendisse tempus porta mi, auctor eleifend enim elementum sit amet. Vestibulum vestibulum, mi non scelerisque elementum, tellus ligula ullamcorper tellus, blandit sodales ipsum ipsum sit amet sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eleifend est mauris, id iaculis lorem mollis sed. Aenean mattis dolor purus, vel pharetra nibh porttitor dignissim. Nunc fermentum velit ac pulvinar imperdiet. Quisque rhoncus euismod velit quis lobortis. Integer sagittis suscipit quam ac aliquet. Etiam feugiat dolor scelerisque velit gravida facilisis. Nullam hendrerit nulla vel porta tincidunt. Etiam pellentesque rutrum arcu in fringilla. Duis ac ipsum vel lorem varius porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer adipiscing ullamcorper justo condimentum gravida.</p>

<p>Sed convallis fermentum feugiat. Ut ut faucibus nisl. Pellentesque quam velit, malesuada ac euismod et, facilisis sed mi. Etiam a nunc eget urna convallis tempor nec sed magna. Nullam imperdiet iaculis ipsum a fermentum. Sed luctus aliquet vulputate. Nam tellus elit, sollicitudin in molestie ut, auctor sed nunc. Phasellus at dictum magna. Etiam at erat eros. Duis imperdiet blandit magna, et interdum sem molestie vitae. Mauris odio risus, facilisis a libero in, volutpat vestibulum elit. Suspendisse potenti. Sed a turpis pharetra, tempus leo at, ultrices felis. Vestibulum adipiscing, lorem in adipiscing gravida, orci arcu vehicula tellus, eget tincidunt urna nisi sit amet sem. Praesent in libero diam. Maecenas quis lectus interdum, tincidunt nisi ut, pellentesque tellus.</p>

<p>Maecenas ac tortor eget lacus euismod vehicula eget eu elit. Cras quis justo congue quam semper rutrum. Aliquam et urna luctus, iaculis nunc at, pellentesque quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel est sed lectus ullamcorper placerat. Nullam sit amet cursus nisi. Sed sed volutpat nisl. Aliquam venenatis a elit vel euismod.</p>

<p>Praesent at mauris vulputate, sagittis leo a, consectetur purus. Morbi pharetra id enim et mattis. Aliquam erat volutpat. Nulla tempus ipsum nec ante bibendum fringilla. Morbi dolor elit, tincidunt in mi convallis, vestibulum placerat dolor. Vivamus erat quam, tincidunt a porttitor quis, imperdiet eget erat. Ut et pretium metus.</p>
